@import '../../../global.scss';

footer {
  position: absolute;
  height: 40px;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $color-darkest;
  color: white;
}

.info {
  font-size: 0.8em;
  vertical-align: top;
}

.copyright {
  text-align: right;
}